<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Covid Registration System</title>

    <div th:replace="fragments/stylesheets :: stylesheets"></div>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-4">
    <img src="https://c.tenor.com/kWW3pMOGDPIAAAAC/sakuramiko35-miko35.gif" alt="Flowers" width=200 height=200>
    <table class="table">
        <tbody class="thead-dark">
        <tr>
            <th>Name</th>

        </tr>
        <tr>
            <th>Opening Time</th>

        </tr>
        <tr>
            <th>Closing Time</th>

        </tr>
        <tr>
            <th>Description</th>

        </tr>
        <tr>
            <th>Phone Number</th>

        </tr>
        <tr>
            <th>Address</th>

        </tr>
        <tr>
            <th>Type of Facility</th>

        </tr>
        <tr>
            <th>On Site Booking and Testing</th>

        </tr>
        <tr>
            <th>Waiting Time in Mins</th>

        </tr>
        <tr>
            <th>Status</th>

        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>

