<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Covid Registration System</title>

    <div th:replace="fragments/stylesheets :: stylesheets"></div>
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container py-4">
        <div class="section section-lg pt-4">
            <div class="container">
                <div class="row mb-4 mb-lg-5">
                    <div class="col-lg-4 col-sm-6">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail6">Suburb Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail6"
                                aria-describedby="emailHelp">
                        </div>
                        <!-- End of Form -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Form -->
                        <div class="form-group">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Type Of Facility</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                                <option value="Drive Through">Drive Through</option>
                                <option value="Walk-in">Walk-in</option>
                                <option value="Clinics">Clinics</option>
                                <option value="GPs">GPs</option>
                                <option value="Hospitals">Hospitals</option>
                            </select>
                        </div>
                        <!-- End of Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>

</html>