<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Patient Status Page (On-site Testing)</h1>
<form name='f' th:action="@{/register}" th:object="${bookingForm}" method='POST'>

    <table>
        <tr>
            <td>Patient:</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>Booking:</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>1. Do you have chills and repeated shaking?</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>2. Do you have muscle pain?</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>3. Do you have headache?</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>4. Do you have sore throat?</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>5. Do you have loss of sense of taste or smell?</td>
            <td>

            <td>
        </tr>
        <tr>
            <td>6. Do you have close contact with other covid patient?</td>
            <td>

            <td>
        </tr>
    </table>
</form>

<p>Get your greeting <a href="/greeting">here</a></p>
</body>
</html>