<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Register Page (On-site Booking)</h1>
<form name='f' th:action="@{/register}" th:object="${bookingForm}" method='POST'>
    <table>
        <tr>
            <td>Customer:</td>
            <td><input type='text' name='customName' value='' th:field="*{customerUsername}"></td>
        </tr>
        <tr>
            <td>Testing-sites:</td>
            <td>
                <select th:field="*{testingSite}">
                    <option th:each="p : ${testingSiteModels}" th:value="${p}" th:text="${p}" />
                </select>
            <td>
        </tr>
        <tr>
            <td>Test-type:</td>
            <td>
                <select th:field="*{testType}">
                    <option th:each="p : ${testTypeModels}" th:value="${p}" th:text="${p}" />
                </select>
            <td>
        </tr>
        <tr>
            <td>Administrator:</td>
            <td><input type='text' name='adminName' value='' th:field="*{administrator}"></td>
        </tr>
        <tr>
            <td>Patient:</td>
            <td><input type='text' name='patientName' value='' th:field="*{patient}"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>

<p>Get your greeting <a href="/greeting">here</a></p>
</body>
</html>