<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<body>
    <h1>Register Page (Booking)</h1>
    <form name='f' th:action="@{/register}" th:object="${bookingForm}" method='POST'>
        <table>
            <tr>
                <td>Customer:</td>
                <td>
                    <select th:field="*{customerUsername}">
                        <option th:each="p : ${userModels}" th:value="${p.getId}" th:text="${p.getFullName}" />
                    </select>
                <td>
            </tr>
            <tr>
                <td>Testing-sites:</td>
                <td>
                    <select th:field="*{testingSite}">
                        <option th:each="p : ${testingSiteModels}" th:value="${p.getId()}" th:text="${p.getName()}" />
                    </select>
                <td>
            </tr>
            <tr style="display:none">
                <td>Test-type:</td>
                <td>
                    <select th:field="*{testType}">
                        <option th:each="p : ${testTypeModels}" th:value="${p}" th:text="${p}" />
                    </select>
                <td>
            </tr>
            <tr style="display:none">
                <td>Administrator:</td>
                <td>
                    <select th:field="*{administrator}" >
                        <option th:each="p : ${userModels}" th:value="${p.getId}" th:text="${p.getFullName}" />
                    </select>
                <td>
            </tr>
            <tr style="display:none">
                <td>Patient:</td>
                <td>
                    <select th:field="*{patient}" >
                        <option th:each="p : ${userModels}" th:value="${p.getId}" th:text="${p.getFullName}" />
                    </select>
                <td>

            </tr>
            <tr>
                <td>Date/Time:</td>
                <td>
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime" th:field="*{time}">
                <td>

            </tr>
            <tr>
                <td>On Home Booking?</td>
                <td>
                    <input type="checkbox" th:field="*{onHomeBooking}">
                <td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>

    <p>Get your greeting <a href="/greeting">here</a></p>





</body>

</html>